## Convert time format

Our next step in processing our data is making our dates readable. 

For example:

1880.5 = 1880 + Â½ of a year = 1880 + 6 months = 06/1880 or June 1880

**Our goal**: Convert the date column into separate columns for year and month

### Step 1: Do it for one date 

**Some useful functions**

numpy.ceil(**x**) : Returns the number x rounded to the closest and largest whole number
* **x**: number or array

numpy.floor(**x**) : Returns the number x rounded to the closest and smallest whole number
* **x**: number or array

numpy.round(**x**, **decimels**) : Returns the rounded number x or rounds all elements in array
* **x**: number or array
* **decimels**: number of decimels to round to

numpy_array.astype(**data type**) : Converts elements in array to a different data type
* **data type**: int, float, string etc

In [26]:
import numpy as np

In [27]:
#Useful functions

test = 2.5
print('number:',test)
print('np.ceil(number):', np.ceil(2.5))
print('np.floor(number):', np.floor(2.5))
print('np.round(number):', np.round(2.5,0))

test_array = np.arange(2.75,3.25,0.05)
print('\n array:',test_array)
print('np.ceil(array):', np.ceil(test_array))
print('np.floor(array):', np.floor(test_array))
print('np.round(array):', np.round(test_array,0))

print('\n array with elements as int:',test_array.astype(int))

number: 2.5
np.ceil(number): 3.0
np.floor(number): 2.0
np.round(number): 2.0

 array: [2.75 2.8  2.85 2.9  2.95 3.   3.05 3.1  3.15 3.2 ]
np.ceil(array): [3. 3. 3. 3. 3. 3. 4. 4. 4. 4.]
np.floor(array): [2. 2. 2. 2. 2. 2. 3. 3. 3. 3.]
np.round(array): [3. 3. 3. 3. 3. 3. 3. 3. 3. 3.]

 array with elements as int: [2 2 2 2 2 2 3 3 3 3]

Let's start small. Find the year and month associated with the given test date.

In [28]:
date = 1880.5
year = np.floor(date)
print(date)
print('year:',np.floor(date))
print('month',12*(date - year))

#What do these variables equal?
#year =
#month =

1880.5
year: 1880.0
month 6.0

### Step 2: Do it for an array of dates 

Remember: you can run operations on numpy arrays like they are numbers

For example:

```A = [1 , 2, 3]```

```A * 2 = [2 , 4, 6]```

In [29]:
date_array = np.arange(1880, 1882.05, 1/12)
print(date_array)

year_array_rounded = np.round(date_array,3)
print('\n',year_array_rounded)

year_array_floor = np.floor(year_array_rounded)
print('\n',year_array_floor)

month_array = np.round(12*(date_array-year_array_floor),0)
print('\n',month_array)


print(date_array*12)
#year_array = 
#month_array =

[1880.         1880.08333333 1880.16666667 1880.25       1880.33333333
 1880.41666667 1880.5        1880.58333333 1880.66666667 1880.75
 1880.83333333 1880.91666667 1881.         1881.08333333 1881.16666667
 1881.25       1881.33333333 1881.41666667 1881.5        1881.58333333
 1881.66666667 1881.75       1881.83333333 1881.91666667 1882.        ]

 [1880.    1880.083 1880.167 1880.25  1880.333 1880.417 1880.5   1880.583
 1880.667 1880.75  1880.833 1880.917 1881.    1881.083 1881.167 1881.25
 1881.333 1881.417 1881.5   1881.583 1881.667 1881.75  1881.833 1881.917
 1882.   ]

 [1880. 1880. 1880. 1880. 1880. 1880. 1880. 1880. 1880. 1880. 1880. 1880.
 1881. 1881. 1881. 1881. 1881. 1881. 1881. 1881. 1881. 1881. 1881. 1881.
 1882.]

 [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. -0.  1.  2.  3.  4.  5.
  6.  7.  8.  9. 10. 11. -0.]
[22560. 22561. 22562. 22563. 22564. 22565. 22566. 22567. 22568. 22569.
 22570. 22571. 22572. 22573. 22574. 22575. 22576. 22577. 22578. 22579.
 22580. 22581. 22582. 22583. 22584.]

### Step 3: Do this for a Pandas data column

Remember: pandas columns work exactly like numpy arrays

In [30]:
import pandas as pd

In [31]:
date_df = pd.DataFrame({'Date':date_array,'Data':np.random.rand(len(date_array))})
date_df.head()
print(date_df['Date'].values)
print(date_df)
#What do these columns equal?
#date_df['Year'] = 
#date_df['Month'] =
year = (date_df['Date'] - date.df['Date'])
#print(date_df['Date'].head(2), "\n")
print(year)

[1880.         1880.08333333 1880.16666667 1880.25       1880.33333333
 1880.41666667 1880.5        1880.58333333 1880.66666667 1880.75
 1880.83333333 1880.91666667 1881.         1881.08333333 1881.16666667
 1881.25       1881.33333333 1881.41666667 1881.5        1881.58333333
 1881.66666667 1881.75       1881.83333333 1881.91666667 1882.        ]
           Date      Data
0   1880.000000  0.122167
1   1880.083333  0.609373
2   1880.166667  0.255061
3   1880.250000  0.740796
4   1880.333333  0.333235
5   1880.416667  0.088970
6   1880.500000  0.319131
7   1880.583333  0.453485
8   1880.666667  0.366415
9   1880.750000  0.997328
10  1880.833333  0.007894
11  1880.916667  0.571977
12  1881.000000  0.902968
13  1881.083333  0.581293
14  1881.166667  0.774935
15  1881.250000  0.739510
16  1881.333333  0.563284
17  1881.416667  0.294217
18  1881.500000  0.673386
19  1881.583333  0.709857
20  1881.666667  0.145785
21  1881.750000  0.772230
22  1881.833333  0.025233
23  1881.916667  0.940123
24  1882.000000  0.091642

AttributeError: 'float' object has no attribute 'df'

In [ ]:
print(date_df.head())
date_df['Year'] = year_df_floor
dare_df.head()

### Step 4: Write a function

Write a function that takes any Pandas column with dates in the this format and creates a new dataframe with columns for year and month instead.  

Discuss in groups about what will go into this skeleton for a function and write your pseudo-code in your lab notes.

```def (function_inputs):
    do something
    return function_outputs```

In [44]:
#Function goes here

#x = date_df[date]
#year_df_floor = np.floor(rounded_year)
 #x['month'] = month
    #year_df_rounded = np.round(x['Date'],3)
    #print('\n' , year_df_rounded.head())
    
    #year_df_floor = np.floor(year_df_rounded)
    #print('\n' , year_df_floor.head())
import numpy as np

def conv(date):
    
    year_rounded = np.round(date,3)
    
    year = np.floor(year_rounded)
    
    month = np.ceil(12*(date - year)+1)
   
    #date['Year'] = year
    #date['Month'] = month
    
    return date

In [45]:
conv(7.2)

7.2